@{
    ViewData["Title"] = "RFP Portal";
}

@model List<RFPPortalWebsite.Models.DbModels.Rfp>

<section class="light">
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">RFP's</div>
        @try
        {
            foreach (var item in Model)
            {
                if (@item.Status.ToLower() == "active")
                {
                    <article class="postcard light blue">
                        <a class="postcard__img_link" href="./RFP-Detail/@item.RfpID">
                            <img class="postcard__img" src="~/images/blockchain.jpg" alt="Image Title" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue"><a href="#">@item.Title</a></h1>
                            <div class="postcard__subtitle small">
                                <time datetime="@item.CreateDate">
                                    <i class="fas fa-calendar-alt mr-2"></i>@item.CreateDate.ToLocalTime()
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                @item.Description
                            </div>
                            <ul class="postcard__tagbox">
                                <li class="tag__item">
                                    <i class="fas fa-circle mr-2 blueDot"></i>@item.Status
                                </li>
                                <li class="tag__item">
                                    <i class="fas fa-clock mr-2" title="Time Remaining"></i>@item.Timeframe
                                </li>
                                <li class="tag__item play blue">
                                    <a href="./RFP-Detail/@item.RfpID"><i class="fas fa-play mr-2"></i>Details and Bids</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                }
                else
                {
                    <article class="postcard light red">
                        <a class="postcard__img_link" href="./RFP-Detail/@item.RfpID">
                            <img class="postcard__img" src="~/images/blockchain.jpg" alt="Image Title" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title red"><a onclick="window.location.href='./RFP-Detail/'+@item.RfpID">Podcast Title</a></h1>
                            <div class="postcard__subtitle small">
                                <time datetime="@item.CreateDate">
                                    <i class="fas fa-calendar-alt mr-2"></i>@item.CreateDate.ToLocalTime()
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                @item.Description
                            </div>
                            <ul class="postcard__tagbox">
                                <li class="tag__item"><i class="fas fa-circle mr-2 redDot"></i>@item.Status</li>
                                <li class="tag__item"><i class="fas fa-clock mr-2" title="Time Remaining"></i>@item.Timeframe</li>
                                <li class="tag__item play red">
                                    <a href="./RFP-Detail/@item.RfpID"><i class="fas fa-play mr-2"></i>Details and Bids</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                }

            }
        }
        catch { }


    </div>
</section>