
@model RFPPortalWebsite.Models.ViewModels.RfpDetailModel

@*User session accessor*@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@*Find postcard color tag from RFP status*@
@{
    bool biddingActive = false;
    string clr = "";
    if (Model.RfpDeatil.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Internal.ToString() || Model.RfpDeatil.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Public.ToString())
    {
        //Rfp active
        clr = "green";
        biddingActive = true;
    }
    else if (Model.RfpDeatil.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Expired.ToString())
    {
        //Rfp expired
        clr = "red"; 
    }
    else if (Model.RfpDeatil.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Completed.ToString())
    {
        //Rfp completed
        clr = "blue";
    }
}

@* Top Buttons (Back, New Bid) *@
<section class="light">
    <div class="container py-2 mt-5">

        <div class="d-flex justify-content-between">
            <div>
                <button type="button" class="btn btn-lg btn-outline-secondary border-0" onclick="window.location.href='./../Rfps'"><i class="fas fa-backward mr-2"></i>RFP's</button>
            </div>
            <div>
                @* Check if bidding is active and user does not have bidding on the RFP*@
                @if (biddingActive && Model.BidList.Count(x => x.Username == HttpContextAccessor.HttpContext.Session.GetString("Username")) == 0)
                {
                    <button type="button" class="btn btn-lg btn-info" onclick="NewBidModal()"><i class="fas fa-plus mr-2"></i>New Bid</button>
                }
            </div>
        </div>
    </div>
</section>

@* Rfp Details *@
<section class="light">
    <div class="container py-2 mt-2">
        <article class="postcard light @clr">
            <div class="postcard__text t-dark">
                <div class="d-flex justify-content-between">
                    <div>
                        <h1 class="postcard__title @clr">@Model.RfpDeatil.Title</h1>
                        <div class="postcard__subtitle small">
                            <time datetime="@Model.RfpDeatil.CreateDate">
                                <i class="fas fa-calendar-alt mr-2"></i>Posted at: @Model.RfpDeatil.CreateDate.ToLocalTime().ToString("MM/dd/yyyy")
                            </time>
                        </div>
                        <div><small><b>Time frame for this RFP:</b> @Model.RfpDeatil.Timeframe</small></div>
                    </div>
                    <div>
                        <p id="countDownDiv" class="d-none d-sm-block"></p>
                    </div>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    <p class="text-justify py-3" style="white-space: pre-line">@Model.RfpDeatil.Description</p>
                </div>

                @if (!string.IsNullOrEmpty(Model.RfpDeatil.Tags))
                {
                    <small><b>Tags &amp; Keywords</b></small>
                    <ul class="postcard__tagbox mt-2">
                        @foreach (var tag in Model.RfpDeatil.Tags.Split(','))
                        {
                            <li class="tag__item">@tag</li>
                        }
                    </ul>
                }

                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-circle mr-2 dot_@clr" title="Status"></i>@Model.RfpDeatil.Status Bidding</li>
                    @if (biddingActive)
                    {
                        <li class="tag__item play"><i class="fas fa-play mr-2"></i> Bidding Continues</li>
                    }
                    else
                    {
                        <li class="tag__item play"><i class="fas fa-stop mr-2"></i> Bidding Ended</li>
                    }
                </ul>

                @* Bids Table *@
                @if (Model.BidList.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-hover mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Bid Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Additional Note</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="bidBody">
                                @foreach (var item in Model.BidList)
                                {
                                    try
                                    {

                                        <tr>
                                            <td id="name_@item.Bid.RfpBidID" scope="row">@item.Username</td>
                                            <td>@item.Bid.CreateDate.ToString("MM/dd/yyyy")</td>
                                            <td id="amount_@item.Bid.RfpBidID">@item.Bid.Amount @Model.RfpDeatil.Currency</td>
                                            <td id="timeFrame_@item.Bid.RfpBidID">@item.Bid.Time</td>
                                            <td id="note_@item.Bid.RfpBidID" title="@item.Bid.Note">
                                                @if (item.Bid.Note != null && item.Bid.Note.Length > 50)
                                                {
                                                    @item.Bid.Note.Substring(0, Math.Min(item.Bid.Note.Length, 50)) <span>..</span>
                                                }
                                                else
                                                {
                                                    @item.Bid.Note
                                                }
                                            </td>
                                            <td>

                                                @* Check if bidding is still active (Displays bidding controls) *@
                                                @if (biddingActive)
                                                {
                                                    @* Check if this bid belongs to user (Displays bid delete and edit buttons) *@
                                                    if (item.Username == HttpContextAccessor.HttpContext.Session.GetString("Username"))
                                                    {
                                                        <button id="@item.Bid.RfpBidID" onclick="EditBidModal(this.id)" type="button" class="btn btnEdit btn-sm"><i class="fas fa-edit mr-1"></i>Edit</button>
                                                        <button id="@item.Bid.RfpBidID" onclick="DeleteBidModal(this.id)" type="button" class="btn btnEdit  btn-sm"><i class="fas fa-edit mr-1"></i>Delete</button>
                                                    }

                                                    @* Check if user is admin (Displays 'Choose Winning Bid' button) *@
                                                    if (HttpContextAccessor.HttpContext.Session.GetString("UserType") == RFPPortalWebsite.Models.Constants.Enums.UserIdentityType.Admin.ToString())
                                                    {
                                                        <button id="@item.Bid.RfpBidID" onclick="WinningBidModal(this.id)" type="button" class="btn btnEdit  btn-sm" title="Choose the winning bid"><i class="far fa-star"></i></button>
                                                    }
                                                }

                                                @* Check if this bid is the winner bid (Displays star icon)  *@
                                                @if (item.Bid.RfpBidID == Model.RfpDeatil.WinnerRfpBidID)
                                                {
                                                    <i class="fas fa-star mr-2" title="Winner Bid"></i><span>Winner Bid</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                    catch
                                    {

                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                }
                else
                {
                    //EMPTY TABLE ICON
                    <div class="mt-5">
                        <center>
                            <i class="fas fa-frown-open emptyIcon"></i>
                            <p>There are no bids related with this RFP</p>
                        </center>
                    </div>
                }

            </div>

        </article>
    </div>
</section>

@* Create bidding modals if RFP status is active *@
@if (biddingActive)
{
    @* New bid modal *@
    <div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="bidModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">New Bid For RFP #@Model.RfpDeatil.RfpID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        string disabled = "";
                        if (HttpContextAccessor.HttpContext.Session.GetInt32("UserId") != null)
                        {
                            disabled = "disabled";
                        }
                    }

                    <div class="form-group">
                        <input type="text" class="form-control" @disabled id="name" placeholder="Name Surname" value="@HttpContextAccessor.HttpContext.Session.GetString("NameSurname")" onfocus="this.removeAttribute('readonly');" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" @disabled id="username" placeholder="Username" value="@HttpContextAccessor.HttpContext.Session.GetString("Username")" onfocus="this.removeAttribute('readonly');" readonly>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" @disabled id="email" placeholder="Email" value="@HttpContextAccessor.HttpContext.Session.GetString("Email")" onfocus="this.removeAttribute('readonly');" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="timeframe" placeholder="Timeframe" onfocus="this.removeAttribute('readonly');" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="amount" placeholder="Amount" onfocus="this.removeAttribute('readonly');" readonly>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="note" placeholder="Additional Note" rows="5" onfocus="this.removeAttribute('readonly');" readonly></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="SubmitBid(this)">Submit Bid</button>
                </div>
            </div>
        </div>
    </div>

    @* Edit bid modal *@
    <div class="modal fade" id="editBidModal" tabindex="-1" role="dialog" aria-labelledby="editBidModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">Edit Bid For RFP #@Model.RfpDeatil.RfpID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="EditTimeframe" placeholder="Timeframe">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="EditAmount" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="EditNote" placeholder="Note"></textarea>
                    </div>
                </div>
                <div id="editButtons" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="ConfirmEditBid(this.id)">Confirm Edit</button>
                </div>
            </div>
        </div>
    </div>

    @* Delete bid confirmation modal *@
    <div class="modal fade" id="deleteBidModal" tabindex="-1" role="dialog" aria-labelledby="editBidModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">Delete Bid For RFP #@Model.RfpDeatil.RfpID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-black-50">
                    Are you sure you want to delete the bid?
                </div>
                <div id="deleteButtons" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="ConfirmDeleteBid(this.id)">Delete Bid</button>
                </div>
            </div>
        </div>
    </div>

    @* Bidding functions *@
    @section Scripts{
        <script>

            @{
                var dt1 = Model.RfpDeatil.InternalBidEndDate;
                var dt2 = Model.RfpDeatil.PublicBidEndDate;
            }
            //Set count down date
            var countDownDate = new Date(@dt1.Year,@dt1.Month-1,@dt1.Day,@dt1.Hour,@dt1.Minute, 0, 0).getTime();
            if ('@Model.RfpDeatil.Status' == "Public") {
                countDownDate = new Date(@dt2.Year,@dt2.Month-1,@dt2.Day,@dt2.Hour,@dt2.Minute,0,0).getTime();
            }
            //Start count down
            $(function () {
                CountDown();
                setInterval(function () {
                    CountDown();
                }, 1000);
            });
            //Count down function
            function CountDown() {
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="countDownDiv"
                document.getElementById("countDownDiv").innerHTML = "<span style='font-size:2rem'>" + days + "</span>" + "days <span style='font-size:2rem'>" + hours + "</span>hours<span style='font-size:2rem'> "
                    + minutes + "</span>min <span style='font-size:2rem'>" + seconds + "</span>sec ";

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countDownDiv").innerHTML = "Bidding Ended";
                }

            }

            //Toggle new bid modal if user signed in, else toggle login modal
            function NewBidModal() {
                @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Username")))
                {
                    <text>$("#modal-login").modal("toggle");</text>
                }
                else
                {
                    <text>$("#bidModal").modal("toggle");</text>
                }
            }

            //Submit bid function
            function SubmitBid(e) {
                $(e).prop("disabled", true);
                $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Sending Bid..');

                var timeframe = $("#timeframe").val();
                var amount = parseFloat($("#amount").val());
                var note = $("#note").val();

                 $.ajax({
                     type: "POST",
                     url: '../Bid/SubmitBid',
                     async: false,
                     contentType: 'application/json',
                     data: JSON.stringify({ "Time": timeframe, "Amount": amount, "Note": note, "RfpID": @Model.RfpDeatil.RfpID }),
                     success: function (result) {
                         if (result.success == true) {
                             toastr.success(result.message, "Success");
                             setTimeout(function () { location.reload(); }, 1500);
                         }
                         else {
                             toastr.error(result.message, "Error");
                         }
                     },
                     error: function () {

                     }
                 });

                $(e).prop("disabled", false);
                $(e).html('Submit Bid');
            }

            //Toggle edit bid modal
            function EditBidModal(id) {
                $("#EditTimeframe").val($("#timeFrame_" + id).text());
                $("#EditAmount").val($("#amount_" + id).text());
                $("#EditNote").val($("#note_" + id).attr("title"));
                $("#editButtons button:nth-of-type(2)").attr("id", id);
                $("#editBidModal").modal("toggle");
            }

            //Toggle delete bid modal
            function DeleteBidModal(id) {
                $("#deleteButtons button:nth-of-type(2)").attr("id", id);
                $("#deleteBidModal").modal("toggle");
            }

            //Edit bid confirmation
            function ConfirmEditBid(id) {
                var timeframe = $("#EditTimeframe").val();
                var amount = parseFloat($("#EditAmount").val());
                var note = $("#EditNote").val();

                 $.ajax({
                     type: "POST",
                     url: '../Bid/EditBid',
                     async: false,
                     contentType: 'application/json',
                     data: JSON.stringify({ "RfpBidID": parseInt(id), "Amount": parseFloat(amount), "Time": timeframe, "Note": note }),
                     success: function (result) {
                         if (result.success == true) {
                             toastr.success(result.message, "Success");
                             setTimeout(function () { location.reload(); }, 1500);
                         }
                         else {
                             toastr.error(result.message, "Error");
                         }
                     },
                     error: function () {

                     }
                });
            }

            //Delete bid confirmation
            function ConfirmDeleteBid(id) {
                $.ajax({
                     type: "DELETE",
                    url: '../Bid/DeleteBid?RfpBidID='+id,
                     async: false,
                     contentType: 'application/json',
                     success: function (result) {
                         if (result.success == true) {
                             toastr.success(result.message, "Success");
                             setTimeout(function () { location.reload(); }, 1500);
                         }
                         else {
                             toastr.error(result.message, "Error");
                         }
                     },
                     error: function () {

                     }
                });
            }

        </script>
    }
}

@* Create admin modals & functions if user is admin and RFP status is active *@
@if (biddingActive && HttpContextAccessor.HttpContext.Session.GetString("UserType") == RFPPortalWebsite.Models.Constants.Enums.UserIdentityType.Admin.ToString())
{
    @* Choose winner bid modal *@
    <div class="modal fade" id="WinningBidModal" tabindex="-1" role="dialog" aria-labelledby="bidModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">Winner Bid For RFP #@Model.RfpDeatil.RfpID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-black-50">
                    Are you sure you want to select the winner bid as <span id="winner"></span>?
                </div>
                <div id="winnerButtons" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="SubmitWinnerBid(this)">Confirm Winner</button>
                </div>
            </div>
        </div>
    </div>

    @* Admin functions *@
    @section ScriptsAdmin{
        <script>
            //Toggle winning bid confirmation modal
            function WinningBidModal(id) {
                $("#winnerButtons button:nth-of-type(2)").attr("id", id);
                $("#winner").text($("#name_" + id).text());
                $("#WinningBidModal").modal("toggle");
            }

            //Submit bid confirmation
            function SubmitWinnerBid(e) {
                $(e).prop("disabled", true);
                $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Please wait..');

                $.ajax({
                    type: "Put",
                    url: '../Bid/ChooseWinningBid?RfpBidID=' + $(e).attr("id"),
                    cache: false,
                    async: true,
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.message);
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000)
                        }
                        else {
                            toastr.warning(result.message);
                        }
                        $(e).prop("disabled", false);
                        $(e).html('Select Winner');
                    },
                    error: function () {
                        toastr.error("An error occurred during the process. Please try again later. ");
                        $(e).prop("disabled", false);
                        $(e).html('Select Winner');
                    }
                });
            }
        </script>
    }
}