
<link href="~/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<div class="tab-pane">
    <div class="form-horizontal">
        <fieldset id="RFPform">
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="group">
                <input id="Title" name="Title" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                <label class="label" for="Title">Type of Job</label>
            </div>

            <!-- Text input-->
            <div class="group3">
                <textarea id="Description" name="Description" required="" class="input" rows="5" onfocus="this.removeAttribute('readonly');" readonly></textarea>
                <span class="highlight"></span><span class="bar"></span>
                <label class="label" for="Description">Job Description</label>
            </div>

            <!-- Text input-->
            <div class="group3 d-flex">
                <div class="col-lg-9 col-md-10 p-0">
                    <input id="Amount" name="Amount" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                    <label class="label" for="Amount">Total Price for Job</label>
                </div>
                <div class="col-lg-3 col-md-2">
                    <div class="select pb-1">
                        <select id="Currency" name="Currency">
                            <option value="€">€</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="group3 d-flex">
                <div class="col-lg-4 col-md-6 col-sm-12 pl-0">
                    <input id="startDatepicker" name="Timeframe" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                    <label class="label" for="Timeframe">@*Time Expectations for Job Completion*@Job Start Date</label>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <input id="endDatepicker" name="Timeframe" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                    <label class="label" for="Timeframe">@*Time Expectations for Job Completion*@Job Completion Date</label>
                </div>
                @*<input id="Timeframe" name="Timeframe" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>*@
                @*<p style="color:#636363">Date: <input type="text" id="startDatepicker" class="input"> End Date : <input type="text" id="endDatepicker" class="input"> </p>*@
                @*<label class="label" for="Timeframe">Time Expectations for Job Completion</label>*@
            </div>
            <div class="group3 d-flex">
                <p class="text-dark"><i>*Bidding period is @Program._settings.InternalBiddingDays days for internal biddings and @Program._settings.PublicBiddingDays days for public biddings. Please adjust your timeframe accordingly.</i></p>
            </div>
            <!-- Button -->
            <div class="control-group d-flex justify-content-center mt-3">
                <label class="control-label" for="confirmProposal"></label>
                <div class="controls col-md-4">
                    <button id="confirmProposal" name="confirmsignup" onclick="SubmitForm(this)" class="btn btn-primary btn-block">Submit Proposal</button>
                </div>
            </div>
        </fieldset>
    </div>
</div>

@section Scripts{
    <script src="~/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script>
        $(function () {
            //console.log(new Date().getDate());
            //console.log(new Date());
            $("#startDatepicker").datepicker({
                dateFormat: 'mm-dd-yy',
                minDate: @Program._settings.InternalBiddingDays +  @Program._settings.PublicBiddingDays,
                changeMonth: true,
                changeYear: true,
                onSelect: function (dateText, inst) {
                    $("#startDatepicker").focus();
                }
            });
            $("#endDatepicker").datepicker({
                dateFormat: 'mm-dd-yy',
                minDate: @Program._settings.InternalBiddingDays +  @Program._settings.PublicBiddingDays,
                changeMonth: true,
                changeYear: true,
                onSelect: function (dateText, inst) {
                    $("#endDatepicker").focus();
                }
            });
        });
    </script>
    <script>
        function SubmitForm(e) {
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Please wait..');

            var title = $("#Title").val();
            var description = $("#Description").val();
            var amount = parseFloat($("#Amount").val());
            var currency = $("#Currency").val();
            var timeframe = $("#startDatepicker").val() + " - " + $("#endDatepicker").val();

            $.ajax({
                type: "Post",
                url: '../SubmitForm',
                data: { "Title": title, "Description": description, "Amount": amount, "Currency": currency, "Timeframe": timeframe},
                cache: false,
                async: true,
                success: function (result) {

                    if (result.success == true) {
                        toastr.success(result.message);
                        $(':input').not(':button, :submit, :reset, :hidden').val('');
                        setTimeout(function () {
                            window.location.href = "../Rfps";
                        }, 1500);

                    }
                    else {
                        toastr.warning(result.message);
                    }
                    $(e).prop("disabled", false);
                    $(e).html('Submit Proposal');
                },
                error: function () {
                    toastr.error("An error occurred during the process. Please try again later. ");
                    $(e).prop("disabled", false);
                    $(e).html('Submit Proposal');
                }
            });
        }
    </script>
}
