@model RFPPortalWebsite.Models.ViewModels.RfpDetailModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@try
{
    string clr = "";
    if (Model.RfpDeatil.Status.ToLower() == "active")
    {
        clr = "green";
    }
    else
    {
        clr = "blue";
    }

    <section class="light">
        <div class="container py-2 mt-5">

            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-lg btn-outline-secondary border-0" onclick="window.location.href='./../Rfps'"><i class="fas fa-backward mr-2"></i>RFP's</button>
                </div>
                <div>
                    @if (Model.RfpDeatil.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Active.ToString())
                    {
                        <button type="button" class="btn btn-lg btn-info" onclick="NewBidModal()"><i class="fas fa-plus mr-2"></i>New Bid</button>
                    }
                </div>
            </div>
        </div>
    </section>

    <section class="light">
        <div class="container py-2 mt-2">
            <article class="postcard light @clr">
                <div class="postcard__text t-dark">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h1 class="postcard__title @clr">@Model.RfpDeatil.Title</h1>
                            <div class="postcard__subtitle small">
                                <time datetime="@Model.RfpDeatil.CreateDate">
                                    <i class="fas fa-calendar-alt mr-2"></i>Posted at: @Model.RfpDeatil.CreateDate.ToLocalTime().ToString("MM/dd/yyyy")
                                </time>
                            </div>
                        </div>
                        <div>
                            @if (Model.RfpDeatil.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Active.ToString())
                            {
                                <p class="m-0" id="demo"></p>
                            }
                            else
                            {
                                <p class="m-0">Bidding Ended</p>
                            }
                        </div>
                    </div>

                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        @Model.RfpDeatil.Description
                    </div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><i class="fas fa-circle mr-2 dot_@clr" title="Status"></i>@Model.RfpDeatil.Status</li>
                        @if (Model.RfpDeatil.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Active.ToString())
                        {
                            <li class="tag__item play"><i class="fas fa-play mr-2"></i> @Model.BiddingType</li>
                        }
                        else
                        {
                            <li class="tag__item play"><i class="fas fa-stop mr-2"></i>  @Model.BiddingType</li>
                        }
                    </ul>
                    <table class="table table-striped table-hover mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Bid Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Time</th>
                                <th scope="col">Additional Note</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="bidBody">
                            @try
                            {
                                if (Model.BidList.Count() > 0)
                                {
                                    @foreach (var item in Model.BidList)
                                    {
                                        if (item.Bid.RfpBidID == Model.RfpDeatil.Amount)
                                        {
                                            <tr class="table-primary">
                                                <th scope="row">@item.Username</th>
                                                <td>@item.Bid.CreateDate.ToString("MM/dd/yyyy")</td>
                                                <td>@item.Bid.Amount @Model.RfpDeatil.Currency</td>
                                                <td>@item.Bid.Time</td>
                                                <td>@item.Bid.Note</td>
                                                <td></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <th scope="row">@item.Username</th>
                                                <td>@item.Bid.CreateDate.ToString("MM/dd/yyyy")</td>
                                                <td id="amount_@item.Bid.RfpBidID">@item.Bid.Amount @Model.RfpDeatil.Currency</td>
                                                <td id="timeFrame_@item.Bid.RfpBidID">@item.Bid.Time</td>
                                                <td id="note_@item.Bid.RfpBidID">@item.Bid.Note</td>
                                                @if (item.Username == HttpContextAccessor.HttpContext.Session.GetString("Username"))
                                                {
                                                    <td>
                                                        <button id="@item.Bid.RfpBidID" onclick="EditBidModal(this.id)" type="button" class="btn btnEdit btn-sm"><i class="fas fa-edit mr-1"></i>Edit</button>
                                                        <button id="@item.Bid.RfpBidID" onclick="DeleteBidModal(this.id)" type="button" class="btn btnEdit  btn-sm"><i class="fas fa-edit mr-1"></i>Delete</button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            </tr>
                                        }

                                    }
                                }
                            }
                            catch
                            {
                            }


                        </tbody>
                    </table>
                </div>

            </article>
        </div>
    </section>
}
catch { }


@if (Model.RfpDeatil.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Active.ToString())
{

    <div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="bidModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">New Bid For RFP #@Model.RfpDeatil.RfpID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        string disabled = "";
                        if (HttpContextAccessor.HttpContext.Session.GetInt32("UserId") != null)
                        {
                            disabled = "disabled";
                        }
                    }

                    <div class="form-group">
                        <input type="text" class="form-control" @disabled id="name" placeholder="Name Surname" value="@HttpContextAccessor.HttpContext.Session.GetString("NameSurname")">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" @disabled id="username" placeholder="Username" value="@HttpContextAccessor.HttpContext.Session.GetString("Username")">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" @disabled id="email" placeholder="Email" value="@HttpContextAccessor.HttpContext.Session.GetString("Email")">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="timeframe" placeholder="Timeframe">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="amount" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="note" placeholder="Additional Note" rows="5"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="SubmitBid(this)">Submit Bid</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editBidModal" tabindex="-1" role="dialog" aria-labelledby="editBidModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">Edit Bid For RFP #@Model.RfpDeatil.RfpID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="EditTimeframe" placeholder="Timeframe">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="EditAmount" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="EditNote" placeholder="Note"></textarea>
                    </div>
                </div>
                <div id="editButtons" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="ConfirmEditBid(this.id)">Confirm Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DeleteBidModal" tabindex="-1" role="dialog" aria-labelledby="editBidModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">Delete Bid For RFP #@Model.RfpDeatil.RfpID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-black-50">
                    Are you sure you want to delete the bid?
                </div>
                <div id="editButtons" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="ConfirmDeleteBid(this.id)">Delete Bid</button>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
        <script>

            // Set the date we're counting down to
            var countDownDate = new Date(@Model.TimeRemaining.Year,@Model.TimeRemaining.Month-1,@Model.TimeRemaining.Day,@Model.TimeRemaining.Hour,@Model.TimeRemaining.Minute,0,0).getTime();

            $(function () {
                CountDown();
                setInterval(function () {
                    CountDown();
                }, 1000);
            });

            function NewBidModal() {
                if (@HttpContextAccessor.HttpContext.Session.GetString("UserType") == null) {
                    $("#LoginModal").modal("toggle");
                } else {
                    $("#bidModal").modal("toggle");
                }
            }

            function CountDown() {
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = "<span style='font-size:2rem'>" + days + "</span>" + "days <span style='font-size:2rem'>" + hours + "</span>hours<span style='font-size:2rem'> "
                    + minutes + "</span>min <span style='font-size:2rem'>" + seconds + "</span>sec ";

                // If the count down is over, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "Bidding Ended";
                }

            }

            function SubmitBid(e) {
                $(e).prop("disabled", true);
                $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Sending Bid..');



                    RegisterUser();

                    SignInUser();


                PostBid();

                $(e).prop("disabled", false);
                $(e).html('Submit Bid');
            }

            function RegisterUser() {
                var username = $("#username").val();
                var namesurname = $("#name").val();
                var email = $("#email").val();

                $.ajax({
                    type: "POST",
                    url: '../Auth/RegisterPublic',
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify({ "username": username, "namesurname": namesurname, "email": email }),
                    success: function (result) {
                        if (result.success == true) {
                            $("#authKey").text(authkey);
                            $("#bidModal").modal("toggle");
                            setTimeout(function(){
                                $("#AuthToggle").modal("toggle");
                            }, 500)
-                       }
                        else {
                            toastr.error(result.message, "Error");
                        }
                    },
                    error: function () {

                    }
                });

            }

            function PostBid() {

                var timeframe = $("#timeframe").val();
                var amount = parseFloat($("#amount").val());
                var note = $("#note").val();

                 $.ajax({
                     type: "POST",
                     url: '../Bid/SubmitBid',
                     async: false,
                     contentType: 'application/json',
                     data: JSON.stringify({ "TimeFrame": timeframe, "Amount": amount, "Note": note, "RfpID": @Model.RfpDeatil.RfpID }),
                     success: function (result) {

                         if (result.success == true) {
                             toastr.success(result.message, "Success");
                             /*setTimeout(function () { location.reload(); }, 1500);*/
                         }
                         else {
                             toastr.error(result.message, "Error");
                         }

                     },
                     error: function () {

                     }
                });
            }



            function EditBidModal(id) {
                $("#EditTimeframe").val($("#timeFrame_" + id).text());
                $("#EditAmount").val($("#amount_" + id).text());
                $("#EditNote").val($("#note_" + id).text());
                $("#editButtons button:nth-of-type(2)").attr("id", id);
                $("#editBidModal").modal("toggle");
            }

            function DeleteBidModal(id) {
                $("#DeleteButtons button:nth-of-type(2)").attr("id", id);
                $("#DeleteBidModal").modal("toggle");
            }

            function ConfirmEditBid(id) {

            }

            function ConfirmDeleteBid(id) {

            }

        </script>
    }

}

@section Scripts2{
    <script>
        function Login(e) {
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i>Please wait..');

            $.ajax({
                type: "Post",
                url: '../SignIn',
                data: { "email": $("#LoginEmail").val(), "pass": $("#LoginPass").val() },
                cache: false,
                async: true,
                success: function (result) {
                    console.log(result);
                    debugger;
                    if (result.success == true) {
                        toastr.success("Welcome, " + result.content.user.nameSurname);
                        setTimeout(function () { location.reload(); }, 1500);
                    }
                    else {
                        toastr.warning(result.message);
                    }
                    $(e).prop("disabled", false);
                    $(e).html('Log in');
                },
                error: function () {
                    toastr.error("An error occurred during the process. Please try again later. ");
                    $(e).prop("disabled", false);
                    $(e).html('Log in');
                }
            });
        }
    </script>


}