

@model RFPPortalWebsite.Models.WebsiteModels.RfpDetailModel


<section class="light">
    <div class="container py-2 mt-5">
        <article class="postcard light blue">
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a>Podcast Title</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="@Model.RfpDeatil.CreateDate">
                        <i class="fas fa-calendar-alt mr-2"></i>@Model.RfpDeatil.CreateDate.ToLocalTime()
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    @Model.RfpDeatil.Description
                </div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-circle mr-2 redDot"></i>@Model.RfpDeatil.Status</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2" title="Time Remaining"></i>@Model.RfpDeatil.Timeframe</li>
                </ul>
            </div>
        </article>
        <article class="postcard light blue">
            <div class="postcard__text t-dark">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">Bid ID</th>
                            <th scope="col">Create Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Time</th>
                            <th scope="col">Note</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BidList)
                        {
                            if (item.RfpBidID == Model.RfpDeatil.WinnerRfpBidID)
                            {
                                <tr class="table-primary">
                                    <th scope="row">@item.UserId</th>
                                    <td>@item.RfpBidID</td>
                                    <td>@item.CreateDate</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Time</td>
                                    <td>@item.Note</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th scope="row">@item.UserId</th>
                                    <td>@item.RfpBidID</td>
                                    <td>@item.CreateDate</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Time</td>
                                    <td>@item.Note</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
                <table>
                    <thead>

                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>
