@{
    ViewData["Title"] = "RFP Portal";
}
@using PagedList.Core.Mvc
@using PagedList.Core

@model PagedList.Core.IPagedList<RFPPortalWebsite.Models.DbModels.Rfp>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<section>
    <div class="container">

        @if (HttpContextAccessor.HttpContext.Session.GetString("NameSurname") != null)
        {
            <div id="HeaderText" class="text-black-50">
                Welcome, @HttpContextAccessor.HttpContext.Session.GetString("NameSurname")
            </div>
        }
        

        @*############ SEARCH INPUT ############*@
        <input placeholder="Search by title or description" class="form-control mb-4 p-4" />


        @*############ MAIN CONTENT STARTS ############*@

        @try
        {
            foreach (var item in Model)
            {
                string biddingType = "";
                string remainingTime = "";
                if (item.CreateDate.AddDays(Program._settings.InternalBiddingDays) >= DateTime.Now)
                {
                    biddingType = "Internal Bidding";
                    remainingTime = (item.CreateDate.AddDays(Program._settings.InternalBiddingDays) - DateTime.Now).Days + " days remaining";
                }
                else if (DateTime.Now >= item.CreateDate.AddDays(Program._settings.InternalBiddingDays) &&
                         DateTime.Now <= item.CreateDate.AddDays(Program._settings.InternalBiddingDays + Program._settings.PublicBiddingDays))
                {
                    biddingType = "Public Bidding";
                    remainingTime = (item.CreateDate.AddDays(Program._settings.InternalBiddingDays + Program._settings.PublicBiddingDays) - DateTime.Now).Days + " days remaining";
                }
                else
                {
                    biddingType = "Bidding Ended";
                }

                string clr = "";
                if (item.Status.ToLower() == "active")
                {
                    clr = "green";
                }
                else
                {
                    clr = "blue";
                }

                <article class="postcard light cursor-pointer @clr">
                    <a class="postcard__img_link" href="./RFP-Detail/@item.RfpID">
                        <img class="postcard__img" src="~/images/casper.png" alt="Casper" />
                    </a>
                    <div class="postcard__text postcard__text2 t-dark" onclick="window.location.href='../RFP-Detail/'+@item.RfpID">
                        <h1 class="postcard__title @clr"><a onclick="window.location.href='../RFP-Detail/'+@item.RfpID">@item.Title</a></h1>
                        <div class="postcard__subtitle small">
                            <time datetime="@item.CreateDate">
                                <i class="fas fa-calendar-alt mr-2"></i>Posted at: @item.CreateDate.ToLocalTime().ToString("MM/dd/yyyy")
                            </time>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">
                            @if (@item.Description.Length > 50)
                            {
                                @item.Description.Substring(0, Math.Min(item.Description.Length, 50)) <span>..</span>
                            }
                            else
                            {
                                @item.Description
                            }
                        </div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-circle mr-2 dot_@clr" title="Status"></i>@item.Status</li>
                            @if (item.Status == RFPPortalWebsite.Models.Constants.Enums.RfpStatusTypes.Active.ToString())
                            {
                                <li class="tag__item"><i class="fas fa-clock mr-2" title="Time Remaining"></i>@remainingTime</li>
                                <li class="tag__item play"><i class="fas fa-play mr-2"></i> @biddingType</li>
                            }
                            else
                            {
                                <li class="tag__item play"><i class="fas fa-stop mr-2"></i> @biddingType</li>
                            }
                        </ul>
                    </div>
                </article>
            }
        }
        catch { }

        @*############ MAIN CONTENT ENDS ############*@


        @*############ PAGINATION ############*@
        <center>
            <table class="mb-5">
                <tr>
                    <td colspan="3" align="center">
                        <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4Full" asp-action="Rfps" asp-controller="Home" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
</section>



<script>
    function Login(e) {
        control = true;
        $('#signInForm input').each(function (i, obj) {
            if ($(obj).val() == "") {
                $(obj).addClass("brdr");
                control = false
            } else {
                $(obj).removeClass("brdr");
            }
        });
        if (control) {
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i>Please wait..');

            $.ajax({
                type: "Post",
                url: '../SignIn',
                data: { "email": $("#LoginEmail").val(), "pass": $("#LoginPass").val() },
                cache: false,
                async: true,
                success: function (result) {
                    debugger;
                    if (result.success == true) {
                        toastr.success("Welcome, " + result.content.user.nameSurname);
                        $("#HeaderText").text("Welcome, " + result.content.user.nameSurname);

                        if (result.content.user.userType == "Admin") {
                            $("#RFPFormLink").removeClass("d-none");
                        }
                        $("#BiddedProposals").removeClass("d-none");
                        $("#LoginModal").modal("toggle");
                        $(".login-container").html('<button id="LogoutButton" onclick="Logout(this)" type="button">Log out</button>');
                    }
                    else {
                        toastr.warning(result.message);
                    }
                    $(e).prop("disabled", false);
                    $(e).html('Log in');
                },
                error: function () {
                    toastr.error("An error occurred during the process. Please try again later. ");
                    $(e).prop("disabled", false);
                    $(e).html('Log in');
                }
            });
        }
     
    }

</script>