@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RFPPortalWebsite</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
</head>
<body>
    @*############ HEADER STARTS ############*@
    <header class="mb-5">
        <div class="topnav">
            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Rfps" ? "active" : "" )" href="../Rfps">RFPs</a>
            @if (RFPPortalWebsite.Models.Constants.Enums.UserIdentityType.Admin.ToString() == HttpContextAccessor.HttpContext.Session.GetString("UserType"))
            {
                <a id="RFPFormLink" href="../Rfp-Form" class="@(ViewContext.RouteData.Values["Action"].ToString() == "Rfp_Form" ? "active" : "" )">RFP Form</a>
            }
            else
            {
                <a id="RFPFormLink" href="../Rfp-Form" class="d-none @(ViewContext.RouteData.Values["Action"].ToString() == "Rfp_Form" ? "active" : "")">RFP Form</a>
            }
            @if (HttpContextAccessor.HttpContext.Session.GetString("NameSurname") == null)
            {
                <a id="BiddedProposals" href="../Bidded-Rfps" class="d-none @(ViewContext.RouteData.Values["Action"].ToString() == "Bidded_Rfps" ? "active" : "")">Bidded Proposals</a>
            }
            else
            {
                <a id="BiddedProposals" href="../Bidded-Rfps" class="@(ViewContext.RouteData.Values["Action"].ToString() == "Bidded_Rfps" ? "active" : "")">Bidded Proposals</a>

            }

            <div class="login-container">
                @if (HttpContextAccessor.HttpContext.Session.GetString("NameSurname") == null)
                {
                    <button id="LoginButton" type="submit" href="#signup" data-toggle="modal" data-target=".log-sign">Log in</button>
                }
                else
                {
                    <button id="LogoutButton" type="button" onclick="Logout(this)">Log out</button>
                }
            </div>
        </div>
        <div id="headerDiv">
            <div class="text-center text-light" id="pageHeaderTitle">@ViewBag.Message</div>
        </div>
    </header>
    @*############ HEADER ENDS ############*@


    @*############ CONTENT STARTS ############*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*############ CONTENT ENDS ############*@

    <!-- Modal -->
    <div class="modal fade bs-modal-sm log-sign" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li id="tab1" class="active tab-style login-shadow"><a class="active" href="#signin" data-toggle="tab">Log In</a></li>
                        <li id="tab2" class="tab-style"><a href="#signup" data-toggle="tab">Sign Up</a></li>

                    </ul>
                </div>
                <div class="modal-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in show" id="signin">
                            <div class="form-horizontal">
                                <fieldset id="signInForm">
                                    <!-- Sign In Form -->
                                    <!-- Text input-->
                                    <div class="group">
                                        <input id="LoginEmail" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Email address</label>
                                    </div>
                                    <div class="group">
                                        <input id="LoginPass" required="" class="input" type="password"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Password</label>
                                    </div>
                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-primary btn-block" onclick="Login(this)">Log In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="signup">
                            <div class="form-horizontal">
                                <fieldset id="signUpForm">
                                    <!-- Sign Up Form -->
                                    <!-- Text input-->
                                    <div class="group">
                                        <input name="NameSurname" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Name</label>
                                    </div>

                                    <!-- Text input-->
                                    <div class="group">
                                        <input name="UserName" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">User Name</label>
                                    </div>

                                    <!-- Password input-->
                                    <div class="group">
                                        <input name="Email" required="" class="input" type="text"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Email</label>
                                    </div>

                                    <!-- Text input-->
                                    <div class="group">
                                        <input name="Password" required="" class="input" type="password"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Password</label>
                                    </div>

                                    <div class="group">
                                        <input name="RePassword" required="" class="input" type="password"><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Confirm Password</label>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                            <button onclick="SignUp(this)" id="confirmsignup" name="confirmsignup" class="btn btn-primary btn-block">Sign Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    @*############ FOOTER STARTS ############*@
    <footer class="footer text-muted">
        <div id="footerDiv">
            <div class="container text-light">
                &copy; @DateTime.Now.Year - All rights reserved.
            </div>
        </div>
    </footer>
    @*############ FOOTER ENDS ############*@


    @*############ SCRIPTS ############*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toastr.js"></script>
    <script>
        $(document).ready(function () {
            $('.input').blur(function () {
                var $this = $(this);
                if ($this.val())
                    $this.addClass('used');
                else
                    $this.removeClass('used');
            });

        });

        $('#tab1').on('click', function () {
            $('#tab1').addClass('login-shadow');
            $('#tab2').removeClass('signup-shadow');
        });

        $('#tab2').on('click', function () {
            $('#tab2').addClass('signup-shadow');
            $('#tab1').removeClass('login-shadow');


        });

        function SignUp(e) {
            control = true;
            $('#signUpForm input').each(function (i, obj) {
                if ($(obj).val() == "") {
                    $(obj).addClass("brdr");
                    control = false
                } else {
                    $(obj).removeClass("brdr");
                }
            });
            if (control) {
                $(e).prop("disabled", true);
                $(e).html('<i class="fas fa-circle-notch fa-spin"></i>Please wait..');

                $.ajax({
                    type: "Post",
                    url: '../SignUp',
                    data: $("#signUpForm").serialize(),
                    cache: false,
                    async: true,
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.message);
                            $('#signUpForm input').each(function (i, obj) {
                                $(obj).val("");
                            });
                            $("#signup").removeClass("active show");
                            $("#signin").addClass("active show");
                            $('#tab1').addClass('login-shadow');
                            $('#tab2').removeClass('signup-shadow');
                        }
                        else {
                            toastr.warning(result.message);
                        }
                        $(e).prop("disabled", false);
                        $(e).html('Sign Up');
                    },
                    error: function () {
                        toastr.error("An error occurred during the process. Please try again later. ");
                        $(e).prop("disabled", false);
                        $(e).html('Sign Up');
                    }
                });
            }

        }
        function Logout(e) {
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i>');

            $.ajax({
                type: "Post",
                url: '../Logout',
                cache: false,
                async: true,
                success: function (result) {
                    if (result.success == true) {
                        setTimeout(function () { location.reload(); }, 1000);
                    }
                    else {
                        toastr.warning(result.message);
                    }
                    $(e).prop("disabled", false);
                },
                error: function () {
                    toastr.error("An error occurred during the process. Please try again later. ");
                    $(e).prop("disabled", false);
                }
            });
        }
    </script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Scripts2", required: false)
</body>
</html>
