@*User session accessor*@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEVxDAO - Request for Proposals (RFP) Portal</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
</head>
<body>


    @*############ HEADER STARTS ############*@
    <header class="mb-5">
        <div class="topnav" id="menuTopnav">

            @* Show bids of the user if signed in *@
            @if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null)
            {
                @*MENU - Sign out button*@
                <a class="btn btn-primary px-3 d-inline-block btnSignOut" onclick="Logout(this)"><i class="fa fa-sign-out-alt mr-1"></i> Sign Out</a>

                @*MENU - User info div*@
                <div class="d-inline-block mr-3 mt-1 mb-2 float-right signBox">
                    <p class="mb-0">@HttpContextAccessor.HttpContext.Session.GetString("NameSurname")</p>
                    <small><b>User Type:</b> @HttpContextAccessor.HttpContext.Session.GetString("UserType")</small>
                </div>

                @*MENU - User's bids*@
                <a class="btn btn-outline-primary mr-2" href="../My-Bids"><i class="fa fa-id-card-alt"></i> My Bids</a>
            }
            else
            {
                @*MENU - Sign in button*@
                <a class="btn btn-success mr-2 mb-2 signInBtn signBox" href="#signup" data-toggle="modal" data-target=".log-sign"><i class="fa fa-user-alt mr-1"></i> Sign In</a>
            }

            @*MENU - RFP List*@
            <a class="btn btn-outline-primary mr-2" href="../Rfps"><i class="fa fa-list-alt"></i> RFP List</a>

            @* Show RFP post menu for admins *@
            @if (HttpContextAccessor.HttpContext.Session.GetString("UserType") == RFPPortalWebsite.Models.Constants.Enums.UserIdentityType.Admin.ToString())
            {
                <a class="btn btn-outline-primary mr-2" href="../Rfp-Form"><i class="fa fa-plus-square"></i> New RFP</a>
            }

            @*MENU - Mobile menu collapse button *@
            <a href="javascript:void(0);" class="icon float-right" onclick="menuCollapse()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div id="headerDiv">
            <div class="text-center text-light" id="pageHeaderTitle">@ViewBag.PageTitle</div>
        </div>
    </header>
    @*############ HEADER ENDS ############*@


    @*############ CONTENT STARTS ############*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*############ CONTENT ENDS ############*@

    <!-- Login Modal -->
    <div class="modal fade bs-modal-sm log-sign" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li id="tab1" class="active tab-style login-shadow"><a class="active" href="#signin" data-toggle="tab">Sign In</a></li>
                        <li id="tab2" class="tab-style"><a href="#signup" data-toggle="tab">Sign Up</a></li>

                    </ul>
                </div>
                <div class="modal-body" id="signModal">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in show" id="signin">
                            <div class="form-horizontal">
                                <fieldset id="signInForm">
                                    <!-- Sign In Form -->
                                    <h4 class="text-dark text-center mt-3">Sign In to DEVxDAO RFP Portal</h4>
                                    <p class="text-dark text-center">Sign in with your registered username or email</p>
                                    <!-- Email input-->
                                    <div class="group">
                                        <input id="LoginEmail" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Email or username</label>
                                    </div>
                                    <!-- Password input-->
                                    <div class="group">
                                        <input id="LoginPass" required="" class="input" type="password" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Password</label>
                                    </div>
                                    <!-- Remember me, forgot password -->
                                    <div class="field-item d-flex justify-content-between align-items-center text-secondary mt-3">
                                        <div class="field-item pb-0">

                                        </div>
                                        <div class="forget-link fz-6">
                                            <a class="cursorp fp forgotPass">Forgot Password</a>
                                        </div>
                                    </div>
                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-primary btn-block" onclick="Login(this)">Sign In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="signup">
                            <div class="form-horizontal">
                                <fieldset id="signUpForm">
                                    <!-- Sign Up Form -->
                                    <h4 class="text-dark text-center mt-3">Sign Up to DEVxDAO RFP Portal</h4>
                                    <p class="text-dark text-center">New user registration</p>

                                    <!-- Text input-->
                                    <div class="group">
                                        <input id="signupemail" name="Email" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Email</label>
                                    </div>
                                    <small style="color: red !important;">Use your DEVxDAO email to become an internal member.</small>

                                    <!-- Text input-->
                                    <div class="group">
                                        <input id="signupusername" name="UserName" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Username</label>
                                    </div>

                                    <!-- Text input-->
                                    <div class="group">
                                        <input id="signupname" name="NameSurname" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Name Surname</label>
                                    </div>

                                    <!-- Password input-->
                                    <div class="group">
                                        <input id="signuppassword" name="Password" required="" class="input" type="password" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Password</label>
                                    </div>

                                    <div class="group">
                                        <input id="signuppassword2" name="RePassword" required="" class="input" type="password" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Confirm Password</label>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                            <button onclick="SignUp(this)" id="confirmsignup" name="confirmsignup" class="btn btn-primary btn-block">Sign Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Forgot Pass -->
    <div class="modal fade bs-modal-sm log-sign" id="modal-forgotpass">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">Reset Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body p-md-4 p-lg-5">
                    <div class="row">

                        <p class="tc-default">Get password reset link to your registered email</p>

                        <div class="group w-100">
                            <input id="emailforgot" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                            <label class="label" for="date">Registered email</label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="ResetPassword(this)">Reset Password</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Reset Pass -->
    <div class="modal fade" id="modal-resetpass">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-body">Set New Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body p-md-4 p-lg-5">
                    <div class="row">
                        <p class="tc-default">Set a new password for your account</p>

                        <div class="group w-100">
                            <input id="passreset" required="" class="input" type="password" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                            <label class="label" for="date">New password</label>
                        </div>

                        <div class="group w-100">
                            <input id="passreset2" required="" class="input" type="password" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                            <label class="label" for="date">New password confirmation</label>
                        </div>

                        <button type="button" onclick="ResetPasswordComplete();" class="btn btn-primary btn-block btn-md float-right submitFormButton mt-3">Set New Password</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*############ FOOTER STARTS ############*@
    <footer class="footer text-muted">
        <div id="footerDiv">
            <div class="container text-light">
                &copy; @DateTime.Now.Year - All rights reserved.
            </div>
        </div>
    </footer>
    @*############ FOOTER ENDS ############*@


    @*############ SCRIPTS ############*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/select2/select2.full.min.js"></script>

    <script>
        $(document).ready(function () {

            //Toastr options
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "3000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            //Signin modal click event
            $('#tab1').on('click', function () {
                $('#tab1').addClass('login-shadow');
                $('#tab2').removeClass('signup-shadow');
            });

            //Signup modal click event
            $('#tab2').on('click', function () {
                $('#tab2').addClass('signup-shadow');
                $('#tab1').removeClass('login-shadow');
            });

            //Display forget pass modal event
            $(".forgotPass").on("click", function () {
                $("#modal-login").modal("toggle");
                setTimeout(function () {
                    $("#modal-forgotpass").modal("toggle");
                }, 500);
            })

            //Material inputs trigger
            $('.input').blur(function () {
                var $this = $(this);
                if ($this.val())
                    $this.addClass('used');
                else
                    $this.removeClass('used');
            });

            //Display toastr message from server side
            var toastrMessage = '@TempData["toastr-message"]';
            var toastrType = '@TempData["toastr-type"]';

            if (toastrMessage.length > 0) {
                if (toastrType == "warning") {
                    toastr.warning(toastrMessage);
                }
                else if (toastrType == "error") {
                    toastr.error(toastrMessage);
                }
                else if (toastrType == "success") {
                    toastr.success(toastrMessage);
                }
            }

            //Open password renewal modal if user redirected from renewal email
            if ('@TempData["action"]' == "resetpassword") {
                $("#modal-resetpass").modal("toggle");
            }

        });

        //Collapse menu
        function menuCollapse() {
            var x = document.getElementById("menuTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        //User sign in method
        function Login(e) {
            //Disable submit button
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Please wait..');

            //Check if fields empty
            control = true;
            $('#signInForm input').each(function (i, obj) {
                if ($(obj).val() == "") {
                    $(obj).addClass("brdr");
                    control = false
                } else {
                    $(obj).removeClass("brdr");
                }
            });

            if (control) {
                //Ajax post action
                $.ajax({
                    type: "Post",
                    url: '../SignIn',
                    data: { "email": $("#LoginEmail").val(), "pass": $("#LoginPass").val() },
                    cache: false,
                    async: true,
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success("Welcome, " + result.content.nameSurname);
                            window.location.reload();
                        }
                        else {
                            toastr.warning(result.message);
                        }

                        //Enable submit button
                        $(e).prop("disabled", false);
                        $(e).html('Sign In');
                    },
                    error: function () {
                        toastr.error("An error occurred during the process. Please try again later. ");

                        //Enable submit button
                        $(e).prop("disabled", false);
                        $(e).html('Sign In');
                    }
                });
            }

        }

        //User sign up method
        function SignUp(e) {
            //Disable submit button
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Please wait..');

            //Check if fields empty
            control = true;
            $('#signUpForm input').each(function (i, obj) {
                if ($(obj).val() == "") {
                    $(obj).addClass("brdr");
                    control = false
                } else {
                    $(obj).removeClass("brdr");
                }
            });

            if (control) {

                //Get form data
                var username = $("#signupusername").val();
                var namesurname = $("#signupname").val();
                var email = $("#signupemail").val();
                var password = $("#signuppassword").val();
                var password2 = $("#signuppassword2").val();

                //Ajax post action
                $.ajax({
                    type: "Post",
                    url: '../RegisterUser',
                    data: JSON.stringify({ "UserName": username, "NameSurname": namesurname, "Email": email, "Password": password, "RePassword": password2 }),
                    contentType: 'application/json',
                    cache: false,
                    async: true,
                    success: function (result) {
                        if (result.success == true) {

                            toastr.success(result.message);
                            $('#signUpForm input').each(function (i, obj) {
                                $(obj).val("");
                            });

                            $("#signup").removeClass("active show");
                            $("#signin").addClass("active show");
                            $('#tab1').addClass('login-shadow');
                            $('#tab2').removeClass('signup-shadow');
                        }
                        else {
                            toastr.warning(result.message);
                        }

                        //Enable submit button
                        $(e).prop("disabled", false);
                        $(e).html('Sign Up');
                    },
                    error: function () {
                        toastr.error("An error occurred during the process. Please try again later. ");

                        //Enable submit button
                        $(e).prop("disabled", false);
                        $(e).html('Sign Up');
                    }
                });
            }
        }

        //Reset password function
        function ResetPassword(e) {
            //Disable submit button
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Please wait..');

            //Create reset password model
            var email = $('#emailforgot').val()

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../ResetPassword",
                async: true,
                data: { "email": email },
                success: function (result) {
                    if (result.success) {
                        toastr.success(result.message);
                    }
                    else {
                        toastr.error(result.message);
                    }
                },
                error: function (response) {
                    toastr.error("An error occurred during the process. Please try again later. ");
                }
            }).done(function () {
                //Enable submit button
                $(e).prop("disabled", false);
                $(e).html('Reset Password');
            });

        }

        //Reset password complete function
        function ResetPasswordComplete(e) {
            //Disable submit button
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Please wait..');

            //Create new password model
            var pass1 = $('#passreset').val()
            var pass2 = $('#passreset2').val()

            //Ajax post action
            $.ajax({
                type: "POST",
                url: "../ResetPasswordComplete",
                async: true,
                data: { "newpass": pass1, "newpassagain": pass2 },
                success: function (result) {
                    if (result.success) {
                        toastr.success(result.message);
                        $("#modal-resetpass").modal("toggle");
                        setTimeout(function () {
                            $("#modal-login").modal("toggle");
                        }, 500);
                    }
                    else {
                        toastr.error(result.message);
                    }
                },
                error: function (response) {
                    toastr.error("An error occurred during the process. Please try again later. ");
                }
            }).done(function () {
                //Enable submit button
                $(e).prop("disabled", false);
                $(e).html('Set New Password');

            });
        }

        //Logout method
        function Logout(e) {
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i>');

            window.location.href = '../Logout';
        }

    </script>

    @RenderSection("Scripts", required: false)
    @RenderSection("ScriptsAdmin", required: false)

</body>
</html>
