@*User session accessor*@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RFP Portal</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
</head>
<body>

    @*############ HEADER STARTS ############*@
    <header class="mb-5">
        <div id="headerDiv">
            <div class="topnav">
                <a class="btn btn-outline-primary mr-2" href="../Rfps"><i class="fa fa-list-alt"></i> RFP List</a>

                @* Show RFP post menu for admins *@
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserType") == RFPPortalWebsite.Models.Constants.Enums.UserIdentityType.Admin.ToString())
                {
                    <a class="btn btn-outline-primary mr-2" href="../Rfp-Form"><i class="fa fa-plus-square"></i> New RFP</a>
                }

                @* Show bids of the user if signed in *@
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserId") != null)
                {
                    <a class="btn btn-outline-primary mr-2" href="../My-Bids"><i class="fa fa-id-card-alt"></i> My Bids</a>

                    <div class="login-container">
                        <button class="btn btn-primary px-3" type="button" onclick="Logout(this)"><i class="fa fa-sign-out-alt mr-1"></i> Sign Out</button>
                    </div>
                }
                else
                {
                    <div class="login-container">
                        <button class="btn btn-success px-3" type="button" href="#signup" data-toggle="modal" data-target=".log-sign"><i class="fa fa-user-alt mr-1"></i> Sign In</button>
                    </div>
                }

            </div>

            <div class="text-center text-light" id="pageHeaderTitle">@ViewBag.PageTitle</div>

        </div>
    </header>
    @*############ HEADER ENDS ############*@


    @*############ CONTENT STARTS ############*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*############ CONTENT ENDS ############*@

    <!-- Login Modal -->
    <div class="modal fade bs-modal-sm log-sign" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="bs-example bs-example-tabs">
                    <ul id="myTab" class="nav nav-tabs">
                        <li id="tab1" class="active tab-style login-shadow"><a class="active" href="#signin" data-toggle="tab">Sign In</a></li>
                        <li id="tab2" class="tab-style"><a href="#signup" data-toggle="tab">Sign Up</a></li>

                    </ul>
                </div>
                <div class="modal-body" id="signModal">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in show" id="signin">
                            <div class="form-horizontal">
                                <fieldset id="signInForm">
                                    <!-- Sign In Form -->
                                    <h4 class="text-dark text-center mt-3">Sign In to RFP Portal</h4>
                                    <p class="text-dark text-center">Sign in with your registered username or email</p>
                                    <!-- Text input-->
                                    <div class="group">
                                        <input id="LoginEmail" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Email or username</label>
                                    </div>
                                    <div class="group">
                                        <input id="LoginPass" required="" class="input" type="password" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Password</label>
                                    </div>
                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="signin"></label>
                                        <div class="controls">
                                            <button id="signin" name="signin" class="btn btn-primary btn-block" onclick="Login(this)">Sign In</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="signup">
                            <div class="form-horizontal">
                                <fieldset id="signUpForm">
                                    <!-- Sign Up Form -->
                                    <h4 class="text-dark text-center mt-3">Sign Up to RFP Portal</h4>
                                    <p class="text-dark text-center">New user registration</p>

                                    <!-- Text input-->
                                    <div class="group">
                                        <input id="signupemail" name="Email" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Email</label>
                                    </div>
                                    <small style="color: red !important;">Use your DEVxDAO email to become an internal member.</small>

                                    <!-- Text input-->
                                    <div class="group">
                                        <input id="signupusername" name="UserName" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Username</label>
                                    </div>

                                    <!-- Text input-->
                                    <div class="group">
                                        <input id="signupname" name="NameSurname" required="" class="input" type="text" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Name Surname</label>
                                    </div>

                                    <!-- Password input-->
                                    <div class="group">
                                        <input id="signuppassword" name="Password" required="" class="input" type="password" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Password</label>
                                    </div>

                                    <div class="group">
                                        <input id="signuppassword2" name="RePassword" required="" class="input" type="password" onfocus="this.removeAttribute('readonly');" readonly><span class="highlight"></span><span class="bar"></span>
                                        <label class="label" for="date">Confirm Password</label>
                                    </div>

                                    <!-- Button -->
                                    <div class="control-group">
                                        <label class="control-label" for="confirmsignup"></label>
                                        <div class="controls">
                                            <button onclick="SignUp(this)" id="confirmsignup" name="confirmsignup" class="btn btn-primary btn-block">Sign Up</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    @*############ FOOTER STARTS ############*@
    <footer class="footer text-muted">
        <div id="footerDiv">
            <div class="container text-light">
                &copy; @DateTime.Now.Year - All rights reserved.
            </div>
        </div>
    </footer>
    @*############ FOOTER ENDS ############*@


    @*############ SCRIPTS ############*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        $(document).ready(function () {
            //Signin modal click event
            $('#tab1').on('click', function () {
                $('#tab1').addClass('login-shadow');
                $('#tab2').removeClass('signup-shadow');
            });

            //Signup modal click event
            $('#tab2').on('click', function () {
                $('#tab2').addClass('signup-shadow');
                $('#tab1').removeClass('login-shadow');
            });

            //Material inputs trigger
            $('.input').blur(function () {
                var $this = $(this);
                if ($this.val())
                    $this.addClass('used');
                else
                    $this.removeClass('used');
            });

            //Display toastr message from server side
            var toastrMessage = '@TempData["toastr-message"]';
            var toastrType = '@TempData["toastr-type"]';

            if (toastrMessage.length > 0) {
                if (toastrType == "warning") {
                    toastr.warning(toastrMessage);
                }
                else if (toastrType == "error") {
                    toastr.error(toastrMessage);
                }
                else if (toastrType == "success") {
                    toastr.success(toastrMessage);
                }
            }
        });

        //User sign in method
        function Login(e) {
            //Disable submit button
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i> Please wait..');

            //Check if fields empty
            control = true;
            $('#signInForm input').each(function (i, obj) {
                if ($(obj).val() == "") {
                    $(obj).addClass("brdr");
                    control = false
                } else {
                    $(obj).removeClass("brdr");
                }
            });

            if (control) {
                //Ajax post action
                $.ajax({
                    type: "Post",
                    url: '../SignIn',
                    data: { "email": $("#LoginEmail").val(), "pass": $("#LoginPass").val() },
                    cache: false,
                    async: false,
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success("Welcome, " + result.content.user.nameSurname);
                            window.location.reload();
                        }
                        else {
                            toastr.warning(result.message);
                        }
                    },
                    error: function () {
                        toastr.error("An error occurred during the process. Please try again later. ");
                    }
                });
            }

            //Enable submit button
            $(e).prop("disabled", false);
            $(e).html('Sign In');

        }

        //User sign up method
        function SignUp(e) {
            //Disable submit button
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i>Please wait..');

            //Check if fields empty
            control = true;
            $('#signUpForm input').each(function (i, obj) {
                if ($(obj).val() == "") {
                    $(obj).addClass("brdr");
                    control = false
                } else {
                    $(obj).removeClass("brdr");
                }
            });

            if (control) {

                //Get form data
                var username = $("#signupusername").val();
                var namesurname = $("#signupname").val();
                var email = $("#signupemail").val();
                var password = $("#signuppassword").val();
                var password2 = $("#signuppassword2").val();

                //Ajax post action
                $.ajax({
                    type: "Post",
                    url: '../Auth/RegisterUser',
                    data: JSON.stringify({ "UserName": username, "NameSurname": namesurname, "Email": email, "Password": password, "RePassword": password2 }),
                    contentType: 'application/json',
                    cache: false,
                    async: false,
                    success: function (result) {
                        if (result.success == true) {

                            toastr.success(result.message);
                            $('#signUpForm input').each(function (i, obj) {
                                $(obj).val("");
                            });

                            $("#signup").removeClass("active show");
                            $("#signin").addClass("active show");
                            $('#tab1').addClass('login-shadow');
                            $('#tab2').removeClass('signup-shadow');
                        }
                        else {
                            toastr.warning(result.message);
                        }
                    },
                    error: function () {
                        toastr.error("An error occurred during the process. Please try again later. ");
                    }
                });
            }

            //Enable submit button
            $(e).prop("disabled", false);
            $(e).html('Sign Up');
        }

        //Logout method
        function Logout(e) {
            $(e).prop("disabled", true);
            $(e).html('<i class="fas fa-circle-notch fa-spin"></i>');

            window.location.href = '../Logout';
        }
    </script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Scripts2", required: false)
</body>
</html>
